h1 {
    text-align: center;
    margin-bottom: 1cm;
}
input {
    background-color: blue;
}
select {
 background-color: blue;
}
button {
    background-color: orange;
    width:100px;
    margin-right: 1cm;
}
